#Search {
	margin: 0 auto;
	margin-top: 40px;
	height: 50px;
	text-align: center;
}

#Search input {
	line-height: 10px;
	width: 550px;
	height: 45px;
	line-height: 45px;
	BACKGROUND-COLOR: transparent;
	border: 0px;
	box-shadow: 0 0 3px 5px #838A90;

	font-size: 22px;
	outline: none;
	color: #000000;
	text-align: center;
}

#Search img {
	vertical-align: middle;
	width: 45px;
	height: 45px;
	box-shadow: 0 0 3px 5px #838A90;
	margin-bottom: 8px;

}

#result {
	margin: 0 auto;
	margin-top: 40px;
	width: 50%;
	height: 60%;
	box-shadow: 0 0 5px 5px #838A90;
	position: relative;
}

#result .DrugName,
#result .ProductionCompany,
#result .ProductionDate,
#result .OptStatus {
	font-size: 30px;
	margin-top: 40px;
	margin-left: 25%;
}
#result .DrugName{
	margin-top: 0px;
	padding-top: 30px;
}
#result .OptStatus_text{
	position: absolute;
	font-size: 30px;
	width: 350px;
	left: 390px;
	top: 270px;
	
}