<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qin.mapper.DiscountMapper" >
<resultMap id="BaseResultMap" type="cn.qin.pojo.Discount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="moneycondition" property="moneycondition" jdbcType="DOUBLE" />
    <result column="moneyreturn" property="moneyreturn" jdbcType="DOUBLE" />  
      <result column="rate" property="rate" jdbcType="DOUBLE" />  
  </resultMap>
<!-- 向discount表中插入数据-->
<insert id="insertCashReturn" parameterType="Map" >
	insert into discount (moneycondition,moneyreturn) value (${moneyCondition},${moneyReturn})
</insert>
<insert id="insertCashRebate" parameterType="double">
	insert into discount (rate) value (${value})
</insert>
<delete id="deleteAll">
	delete from discount
</delete>
<select id="selectDiscount" resultMap="BaseResultMap">
	select * from discount
</select>
</mapper>