

#function_body {
	border: #A99FAA 0px solid;
	box-shadow: 0 0 5px 5px #799998;
	margin: 0 auto;
	margin-top: 100px;
	width: 25%;
	height: 55%;
	position: relative;
}




#function_body .DrugName,
#function_body .DrugComposition,
#function_body .UsageMethod,
#function_body .MainFunction {
	height: 50px;
	width: 350px;
	line-height: 50px;
	margin: 0 auto;
	padding-top: 40px;

	color: #000000;
}




#function_body input {
	line-height: 10px;
	width: 250px;
	height: 45px;
	BACKGROUND-COLOR: transparent;
	border: 0px;
	border-bottom: 1px #FFFFFF solid;
	font-size: 16px;
	outline: none;
	color: #000000;
}

#function_body .explanation {
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	color: #666;
	text-indent: 2em;
	line-height: 25px;
	font-size: 12px;
}


/* 设置取消和确认按钮 */

#cancelButton,
#determineButton {
	position: absolute;
	bottom: 0px;
	margin-bottom: 10px;

}

#cancelButton {
	left: 30px;
}

#determineButton {
	right: 30px;
}

#cancelButton .cancel,
#determineButton .determine {
	width: 130px;
	height: 40px;

	font-size: 20px;
	font-weight: bold;
	border-radius: 25px;
}

#cancelButton .cancel {
	float: left;
	background-color: #568686;
	color: #bfbfbf;
}

#determineButton .determine {
	float: right;
	background-color: #96CBB7;
	color: #1E1E1E;
}
