
#previousPage,
#nextPage {
	position: absolute;
	top: 45%;
}

#previousPage {
	left: 20px;
}

#nextPage {
	right: 20px;
}

#function_body {
	border: #A99FAA 0px solid;
	box-shadow: 0 0 5px 5px #799998;
	margin: 0 auto;
	margin-top: 70px;
	width: 80%;

	position: relative;
}

#function_body table {


	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-spacing: 10px;
}

#function_body .borderRight {

	border-right: #000000 1px solid;
}
#function_body .shipment{
	width: 100px;
	height: 30px;
	
	font-size: 20px;
	font-weight: bold;
	border-radius: 25px;
	background-color: #96CBB7;
	color: #1E1E1E;
}
#prepareShipmentBox{
	width: 20%;
	height: 30%;
	background-color: #396868;
	position: absolute;
	top: 30%;
	
	left: 39%;
	font-size: 22px;
}
#prepareShipmentBox .prepareShipmentDrugCodetext,#prepareShipmentBox .Receive{
	margin-top: 20px;
	margin-left: 50px;
	height: 45px;
	line-height: 45px;
}
#prepareShipmentBox .prepareShipmentDrugCodetext{
	margin-top: 0px;
	padding-top: 40px;
}
#prepareShipmentBox .Receive span{
	height: 45px;
	line-height: 45px;
}
#prepareShipmentBox .Receive select{
	width: 170px;
	height: 45px;
	BACKGROUND-COLOR: transparent;
	border: 0px;
	padding-left: 0px;
	margin-top: 30px;
	font-size: 16px;
	outline: none;
	border-bottom: 1px #FFFFFF solid;
	text-align: center;
}



/* 设置取消和确认按钮 */

#cancelButton,
#determineButton {
	position: absolute;
	bottom: 0px;
	margin-bottom: 10px;

}

#cancelButton {
	left: 30px;
}

#determineButton {
	right: 30px;
}

#cancelButton .cancel,
#determineButton .determine {
	width: 130px;
	height: 40px;

	font-size: 20px;
	font-weight: bold;
	border-radius: 25px;
}

#cancelButton .cancel {
	float: left;
	background-color: #568686;
	color: #bfbfbf;
}

#determineButton .determine {
	float: right;
	background-color: #96CBB7;
	color: #1E1E1E;
}