<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>防伪查询</title>
		<link rel="stylesheet" type="text/css" href="./css/General_framework.css"/>
		<link rel="stylesheet" type="text/css" href="./css/Anti_counterfeiting.css" />
	</head>
	<body>
		<div id="app">
			<div id="top">
				<div id="close">
					<img src="./img/返回.svg" @click="goback()">
				</div>
				<div id="welcome">
					<ul class="oneMenu">
						<li class="welecomTitle">
							{{Udata.CompanyName}}
							<ul class="twoMenu">
								<li class="signout"><a href="index.html">退出登入<img src="./img/退出.svg"></a></li>
							</ul>
						</li>
					</ul>

				</div>

			</div>

			<div id="bottom">
				<p class="MainTitle">{{title}}</p>
				
				<div id="Search">
					<input type="text"  placeholder="在这里输入药物链码" v-model="DrugCode" @keyup-enter="getAnti_counterfeitingInformation()"/>
					<img src="./img/搜索.svg" @click="getAnti_counterfeitingInformation()">
				</div>
				
				<div id="result" v-if="isShow_result">
					<div class="DrugName">
						药物名称：{{DrugName}}
					</div>
					<div class="ProductionCompany">
						生产公司：{{ProductionCompany}}
					</div>
					<div class="ProductionDate">
						生产日期：{{ProductionDate}}
					</div>
					<div class="OptStatus">
						当前状态：
					</div>
					<div class="OptStatus_text">
						{{OptStatus}}
					</div>
				</div>

			</div>
		</div>


		<script src="./js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/Jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/Anti_counterfeiting.js"></script>
	</body>
</html>
