<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>欢迎进入药品管理系统</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">


	</head>
	<body>
		<div id="app">
			<div id="login">

				<div id="login-left">
					<p class="nowTime">{{ nowTime }}</p>
					<img src="img/go-admin.png" class="logo"><br>
					<p class="systemIntroduction">{{ title }}</p>
				</div>
				<div id="login-right">
					<p class="UserLoginTitle">{{ UserLoginTitle }}</p>
					<p><input type="text" name="Uname" id="Uname" class="Uname" placeholder="用户名" v-model="Uname" /></p>
					<p><input type="password" name="Upwd" id="Upwd" class="Upwd" placeholder="密码" v-model="Upwd"
							@keyup.enter="login()" /></p>
					<p><input type="button" name="loginButton" id="loginButton" class="loginButton"
							value="登               入" @click="login()" /></p>
					<p class="registerIntoButton"><a href="register.html">还没有账号，现在注册一个--></a></p>
				</div>
			</div>
		</div>
		<script src="./js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/Jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/index.js"></script>
	</body>

</html>
