<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="css/register.css">
	</head>
	<body>
		<div id="app">
			<div id="register">
				<p class="UserRegisterTitle"> <span> {{ UserRegisterTitle}}</span> </p>
				<div id="register_left">
					<div><span>用户名：</span><input type="text" id="Uname" class="Uname" value="" placeholder="用户名"
							v-model="Uname" /></div>
					<div><span>密码：</span><input type="password" id="Upwd" value="" class="Upwd" placeholder="密码"
							v-model="Upwd" /></div>
					<div><span>确认密码：</span><input type="password" id="ReUpwd" value="" class="ReUpwd" placeholder="确认密码"
							v-model="ReUpwd" /></div>
					<div><span>公司名称：</span><input type="text" id="CompanyName" class="CompanyName" value=""
							placeholder="公司名称" v-model="CompanyName" /></div>
				</div>
				<div id="register_right">

					<div><span>负责人：</span><input type="text" id="Director" value="" class="Director" placeholder="负责人"
							v-model="Director" /></div>
					<div><span>地址：</span><input type="text" id="Address" value="" class="Address" placeholder="地址"
							v-model="Address" /></div>
					<div><span>电话：</span><input type="text" id="PhoneNUM" value="" class="PhoneNUM" placeholder="电话"
							v-model="PhoneNUM" /></div>
					<div id="Power"><span>类型：</span><select name="Power" class="selectPower" v-model="Power">
							<option value="1">生产商</option>
							<option value="2">经销商</option>
						</select></div>

				</div>
				<p class="registerButtonP"><button type="button" class="registerButton"
						v-on:click="register()">确认注册</button></p>
			</div>
		</div>
		<script src="./js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/Jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/register.js"></script>
	</body>
</html>
