<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!--service的bean  -->	
<bean id="cartService" class="cn.qin.serviceImpl.CartServiceImpl"></bean>
<bean id="goodsServic" class="cn.qin.serviceImpl.GoodsServiceImpl"></bean>
<bean id="userService" class="cn.qin.serviceImpl.UserServiceImpl"></bean>
<bean id="accountService" class="cn.qin.serviceImpl.AccountServiceImpl"></bean>
<bean id="discountService" class="cn.qin.serviceImpl.DiscountServiceImpl"></bean>


</beans>